Source: servercontrol-ext-tomcat-tanuki-wrapper
Section: admin
Priority: optional
Maintainer: Jan Gehring <jan.gehring@gmail.com>
Build-Depends: debhelper (>= 4), perl (>= 5.10.0)
Standards-Version: 3.5.1
Homepage: https://github.com/servercontrol

Package: servercontrol-ext-tomcat-tanuki-wrapper
Architecture: all
Depends: perl (>= 5.10.0), servercontrol (>= 0.94), servercontrol-mod-tomcat (>= 0.93)
Description: ServerControl
